<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <title>Report template</title>
  <link rel="stylesheet" href="../static//css/styles.css">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
  <!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>-->
  <!--  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>-->
</head>

<body contenteditable="true">
  <div class="container header">
    <div class="row">
      <div class="col">
        <img class="img-fluid" src="../static/logo1.png">
      </div>
      <div class="col-6">
        <h6>PHÒNG XÉT NGHIỆM DI TRUYỀN <br></h6>
        <h6>CÔNG TY CỔ PHẦN DI TRUYỀN HỌC <br></h6>
        <a>186-188 Nguyễn Duy Dương phường 3, quận 10, TPHCM <br></a>
        <a>ĐT: 0911 649 383 - 028 66 70 8085 </a>
      </div>
      <div class="col ">
        <img class="img-fluid" src="../static/logo2.png">
      </div>
    </div>
  </div>

    <div class="container col text-center loaiphantich">
      <a style="font-weight:bolder">KẾT QUẢ PHÂN TÍCH ĐỘT BIẾN GEN</a><br>
      <a style="font-weight:bolder">TẦM SOÁT NGUY CƠ 11 LOẠI UNG THƯ DI TRUYỀN</a>
    </div>

    <div class="container" style="padding-left:0px;padding-right:0px;">
      <table class="table align-middle table" border="0" cellpadding="0" cellspacing="0">
        <tbody>
          <tr class="table-primary">
            <td colspan="8" style="font-weight:bolder">THÔNG
              TIN THAI PHỤ</td>
          </tr>
          <tr>
            <td class="table_bolder">Mã số:</td>
            <td colspan="3">GNVZ6P</td>
            <td class="table_bolder">Mã số lab:</td>
            <td>JXAK62</td>
            <td></td>
            <td>JUMGE</td>
          </tr>
          <tr>
            <td class="table_bolder">Họ tên:</td>
            <td colspan="3">Đỗ Ngọc Anh</td>
            <td class="table_bolder">Ngày sinh:</td>
            <td>27/06/1993</td>
            <td class="table_bolder">ĐT:</td>
            <td>0978593011</td>
          </tr>
          <tr>
            <td colspan="1" class="table_bolder">Song
              thai hoặc song thai tiêu biến:</td>
            <td colspan="3">Không</td>
            <td class="table_bolder">Tuần thai:</td>
            <td colspan="3">9.3</td>
          </tr>
          <tr>
            <td colspan="1" class="table_bolder">Ngày nhận mẫu:</td>
            <td colspan="3">07/08/2021</td>
            <td class="table_bolder">Bác sĩ chỉ định:</td>
            <td colspan="3">Trần Quỳnh Giao</td>
          </tr>
          <tr>
            <td colspan="1" class="table_bolder">Nơi
              thu mẫu:</td>
            <td colspan="7">PK 125 Thái Thịnh (GSHN)</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="container text-center ketqua">
      <!-- Content here -->
      <a style="font-weight:bolder">KẾT QUẢ</a>
    </div>

    <div class="text-center">
      <figure class="img">
        <img src="../static/ketqua.png" class="figure-img img-fluid rounded" alt="ketqua">
        <figcaption class="figure-caption">Kết quả xét nghiệm đột biến</figcaption>
      </figure>
    </div>

    <div class="container text-center ketluan">
      <a><span style="font-weight:bolder">KẾT LUẬN:</span> Không phát hiện đột biến gây bệnh trên các gene được khảo sát.</a>
    </div>

    <div class="container" style="padding-left:0px;padding-right:0px; text-align:justify; font-size: 13.333px;">
      <a style="font-weight:bolder">Diễn giải kết quả:</a>
      <a>Điều này nghĩa là bạn không mang các biến thể gây bệnh làm tăng nguy cơ ung thư di truyền trên 17 gen khảo sát. Thông tin này dựa trên hệ thống dữ liệu Clinvar của Viện Sức Khoẻ Quốc Gia Hoa Kỳ. </a><br>
      <a style="font-weight:bolder">Tư vấn chi tiết dành cho kết quả sàng lọc âm tính </a>
      <a>- Khuyến cáo của Mạng lưới ung thư quốc gia Hoa Kỳ (National Comprehensive Cancer Network) về chương trình tầm soát thường quy dành cho dân số chung (không mang đột biến gen gây tăng nguy cơ ung thư di truyền) được đính kèm ở phụ lục</a>
    </div>

    <div class="container" style="padding-left:0px;padding-right:0px; text-align:justify; font-size: 13.333px;">
      <a style="font-weight:bolder">Các gen được khảo sát bao gồm:</a>
      <a>APC, MLH1, MSH2, MSH6, BRCA1, BRCA2, PALB2, PTEN, TP53, CDH1, PMS2, EPCAM, MUTYH, STK11, VHL, RB1, RET. </a><br>
    </div>

    <div class="container" style="padding-left:0px;padding-right:0px; text-align:justify; font-size: 13.333px;">
      <a style="font-weight:bolder">Các biến thể di truyền được khảo sát bao gồm:</a>
      <a>đột biến điểm, mất đoạn và chèn đoạn ngắn (dưới 20 nucleotide) trong vùng mã hóa (coding region) và vùng lân cận với intron (-20/+10 nucleotide từ exon) của những gen này. Các gen khác ít liên quan đến nguy cơ gây ung thư sẽ không được khảo
        sát trong xét nghiệm này.</a><br>
    </div>

    <div id="footer">
      <div class="container text-center">
        <div class="row align-items-start">
          <div class="col">
            <a style="font-weight:bolder">Cố vấn kỹ thuật</a>
          </div>
          <div class="col">
            <a style="font-weight:bolder"> Trưởng phòng xét nghiệm</a>
          </div>
        </div>
      </div>

      <div class="text-center">
        <figure class="figure">
          <img src="../static/saved_resource" class="figure-img img-fluid rounded" alt="...">
          <figcaption class="figure-caption">A caption for the above image.</figcaption>
        </figure>
      </div>

      <div class="container text-center">
        <div class="row align-items-start">
          <div class="col">
            <a>TS. Nguyễn Hoài Nghĩa</a>
          </div>
          <div class="col">
            <a>CN. Nguyễn Thị Cẩm Tú</a>
          </div>
        </div>
      </div>
    </div>

  <hr>
  <div class="container">
    <div class="container text-center ketqua">
      <a>PHÂN LOẠI BIẾN THỂ</a>
    </div>
    <div class="text-left diendai">
      <a>Biến thể được phân loại dựa trên cơ sở dữ liệu ClinVar của Viện sức khỏe quốc gia
        Hoa Kỳ (US. National Institutes of Health) được cập nhật tới thời điểm trả
        kết quả</a><br>
    </div>
    <div>
      <div class="container text-left ketqua">
        <a>BIẾN THỂ ĐƯỢC CHIA LÀM 3 NHÓM</a>
      </div>
        </div>
      <table border="0" cellpadding="0" cellspacing="0" class="table align-middle table" style="border: 1px solid black;">
        <tbody>
          <tr>
            <td colspan="3">LOẠI BIẾN THỂ</td>
            <td colspan="6">ĐỊNH NGHĨA</td>
          </tr>
          <tr>
            <td colspan="3">Gây
              bệnh</td>
            <td colspan="6">Nhóm
              gây bệnh và gần giống gây bệnh (gọi tắt là Gây bệnh): là biến thể đã có đầy
              đủ chứng cứ khoa học hoặc chứng cứ đã rõ ràng nhưng còn hạn chế về nguy cơ
              phát triển ung thư.</td>
          </tr>
          <tr>
            <td colspan="3">Chưa
              rõ chức năng</td>
            <td colspan="6">Nhóm
              biến thể chưa rõ chức năng : là nhóm mà chứng cứ về nguy cơ gây ung thư chưa
              đầy đủ.</td>
          </tr>
          <tr>
            <td colspan="3">Lành tính</td>
            <td colspan="6">Nhóm
              biến thể lành tính hoặc gần giống lành tính (gọi tắt là Lành tính): là nhóm
              đã có đầy đủ chứng cứ khoa học hoặc chứng cứ đã rõ ràng nhưng còn giới hạn về
              khả năng KHÔNG làm gia tăng nguy cơ ung thư.&nbsp;</td>
          </tr>
        </tbody>
      </table>
    <div>
      <div class="container text-left ketqua">
        <a>THÔNG SỐ KỸ THUẬT</a>
      </div>
        </div>
      <table border="0" cellpadding="0" cellspacing="0" class="table align-middle table">
        <tbody>
          <tr>
            <td>Bộ hoá
              chất</td>
            <td colspan="8">New
              England BioLabs, Hoa Kỳ</td>
          </tr>
          <tr>
            <td>Thiết bị</td>
            <td colspan="8">Hệ
              thống giải trình tự thế hệ mới (Next Generation Sequencing) MiniSeq,
              Illumina, Hoa Kỳ</td>
          </tr>
                 </tbody>
      </table>
          <div>
            <a>PHƯƠNG PHÁP</a>
          </div>
          <div>
            <a>ADN được tách chiết và được chuẩn bị thư viện giải trình tự bằng
              kit New England Biolabs (Hoa Kỳ). Các phân mảnh ADN trong vùng gen mục tiêu
              sẽ được làm giàu sử dụng mẫu dò đặc hiệu IDTDNA (Hoa Kỳ), sau đó được giải
              trình tự trên hệ thống giải trình tự thế hệ mới NextSeq, Illumina (Hoa Kỳ)
              với độ phủ trung bình khoảng 100X. Tối thiểu 95% vùng gen mục tiêu có độ phủ
              trên 10X. Kết quả giải trình tự sẽ so sánh với bộ gen tham chiếu GRCh38 để
              xác định biến thể di truyền.&nbsp; <br>
              <br>
              Dựa trên cơ sở dữ liệu di truyền hiện có (bao gồm dữ liệu 1000 bộ gen,
              ESP), các biến thể hiếm với tần suất dưới 1% trong quần thể sẽ được tiếp tục
              phân lớp. Các biến thể được phân loại dựa trên cơ sở dữ liệu ClinVar của Viện
              sức khỏe quốc gia Hoa Kỳ (US. National Institutes of Health) được cập nhật
              tới thời điểm trả kết quả. Chỉ biến thể gây bệnh (còn gọi là đột biến gây
              bệnh, pathogenic mutation and likely pathogenic mutation) sẽ được thông báo
              trong phần trả kết quả.
            </a>
          </div>
          <div>
            <a>GIỚI HẠN CỦA XÉT NGHIỆM</a>
          </div>
          <div>
            <a>Các biến thể di truyền được khảo sát bao gồm: đột biến điểm, mất
              đoạn và chèn đoạn ngắn (dưới 20 nucleotide) trong vùng mã hóa (coding region)
              và vùng lân cận với intron (-20/+10 nucleotide từ exon) của những gen khảo
              sát.<br>
              <br>
              Các biến đổi di truyền khác bao gồm: các biến thể di truyền nằm ngoài vùng
              mã hóa, mất đoạn và chèn đoạn lớn (trên 100 nucleotide), những đoạn lặp ngắn
              liên tục (nucleotide repeat), vùng giàu CG, vùng có trình tự tương đồng cao
              (gen giả – pseudogenes) và trường hợp dạng khảm có thể không đủ tin cậy để
              được phát hiện trong xét nghiệm này.<br>
              <br>
              Xét nghiệm không khảo sát tất cả các gen liên quan đến ung thư di truyền.
              Vì vậy, một kết quả âm tính (không phát hiện đột biến) không hoàn toàn loại
              bỏ khả năng người tham gia xét nghiệm mang đột biến trên một gen khác không
              được khảo sát trong xét nghiệm này.
            </a>
          </div>

    </div>
</body>

</html>
